{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<div>
		<h1>Bienvenue à
			{{ run.stage.name }}
			!</h1>
		<p>
			<img class="app_image" src="{{ asset('assets/styles/' ~ run.stage.country.flag) }}" alt=""/>
		</p>
	</div>


	<div>
		<p>
			<h2>
				Le
				{{ run.dateRun|date("d/m/Y") }}
				à
				{{ run.hourRun }}
				:
				{{ run.competition.style.name }}
				{{ run.competition.nameCompetition }}
				{{ run.competition.gender.name }}
			</h2>
		</p>
	</div>
	<div>
		<p>
			<table class="app_table">
				<tr>
					{% set i = 1 %}
					<td>
						Zone 1
					</td>
					{% for i in i..shotNumber %}
						<td>
							Tir couché
						</td>
						<td>
							Zone
							{{ i + 1 * i }}
						</td>
						<td>
							Tir debout
						</td>
						<td>
							{% if i == 2 %}
								Zone 5
							{% else %}
								Zone 3
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			</table>
		</p>
	</div>
	{% if (user.athlete.gender == run.competition.gender) or (run.competition.gender.id == '3')  %}
		<div class="app_table">
			<h2 class="app_button">
				<a href="{{ path('app_play_game', {'id': run.id}) }}" title="Jouer">
					Participer
				</a>
			</h2>
		</div>
	{%	endif %}
{% endblock %}
