{% extends 'base.html.twig' %}

{% block title %}|-=-| Welcome to IBU2K23 |-=-|
{% endblock %}

{% block body %}
	<header>
		<div>
			<h1>Centre d'entraînement</h1>
		</div>
	</header>
	<main>
		<section>
			<div id="menu-tab" class="app_tabs">
				<div class="tabs">
					{% set i = 0 %}
					{% if zone is defined %}
						{% for varzone in zone %}
							<div class="tab">
								<input type="radio" id="tab-{{ i }}" name="tab-group" data-typeid="{{ i }}">
								<label for="tab-{{ i }}">
									<a href="{{ path('app_go', {id : varzone.id, Type : 'z' }) }}" title='{{ varzone.name }}'>
										{{ varzone.name }}
									</a>
								</label>
							</div>
							{% set i = i + 1 %}
						{% endfor %}
					{% endif %}
					{% if shot is defined %}
						{% for varshot in shot %}
							<div class="tab">
								<input type="radio" id="tab-{{ i }}" name="tab-group" data-typeid="{{ i }}">
								<label for="tab-{{ i }}">
									<a href="{{ path('app_go', {id : varshot.id, Type : 's' }) }}" title='{{ varshot.name }}'>
										Tir {{ varshot.name }}
									</a>
								</label>
							</div>
							{% set i = i + 1 %}
						{% endfor %}
					{% endif %}
					{% if holiday is defined %}
						{% for varholiday in holiday %}
							<div class="tab">
								<input type="radio" id="tab-{{ i }}" name="tab-group" data-typeid="{{ i }}">
								<label for="tab-{{ i }}">
									<a href="{{ path('app_go', {id : varholiday.id, Type : 'h' }) }}" title='{{ varholiday.description }}'>
										{{ varholiday.description }}
									</a>
								</label>
							</div>
							{% set i = i + 1 %}
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</section>
	</main>
{% endblock %}
