<div>
	<h1>
		Tir
		{{ step.name }}
	</h1>
</div>
<main class="main_center">
	<section>
		<div>
			<img class="app_image" src="{{ asset('assets/styles/' ~ step.way) }}" alt=""/>
		</div>
		<div>
			Prix:
			{{ step.price }}
		</div>
		{% for raw in step.sStats %}
			<div>
				{{ raw.stat.name }}
				{% if raw.value > 0 %}
					+
				{% endif %}
				{{ raw.value }}
			</div>
		{% endfor %}
	</section>
	<section>
		<div>
			Athlète:
			{{ app.user.athlete.id }}
		</div>
		<div>
			Step:
			{{ step.id }}
		</div>
	</section>
	<section>
		<div class="app_table">
			<h2 class="app_button">
				<a href="{{ path('app_training_OK', {'Athlete': app.user.athlete.id, 'Zone': step.id, 'Type': type}) }}" title="Jouer">
					Participer
				</a>
			</h2>
		</div>
	</section>

</main>
