{% extends 'base.html.twig' %}

{% block title %}|-=-| Welcome to IBU2K23 |-=-|
{% endblock %}

{% block body %}
	<header>
		<div>
			<h1>Profil</h1>
		</div>
		{% if form is defined %}
			<div class="line">
				{{ form(form) }}
				</div>
			{% endif %}
		</header>
		<main class="main_center">
			<table class="app_table">
				<tr>
					<td>
						<img class="app_image thumbnail" src="{{ asset('assets/styles/' ~ athlete.country.flag) }}" alt=""/>
					</td>
					<td>
						{{ athlete.country.name }}
					</td>

					<td>
						{{ athlete.gender.name }}
					</td>
					<td>
						{{ athlete.firstname }}
					</td>
					<td>
						{{ athlete.lastname }}
					</td>
					<td>
						{{ athlete.cltG2022 }}
					</td>
					<td>
						{{ athlete.cltG2023 }}
					</td>
				</tr>
			</table>


			{% if stat is not empty %}
				<table class="app_table">
					{% set i = 0 %}
					<tr>
						{% for raw in stat %}
							<th scope="col" title="{{ raw.stat.name | capitalize }}">{{ raw.stat.surname | upper }}</th>
						{% endfor %}
					</tr>
					<tr>
						{% for raw in stat %}

							<td>
								{{ raw.value }}
							</td>

						{% endfor %}
					</tr>
				</table>
			{% endif %}

		</main>

	{% endblock %}
