<header class="app_header">
	<a href="{{ path('app_home') }}" class="app_logo" title="{{ 'accueil' | trans | capitalize }}">
		<img src="{{ asset('assets/styles/images/logo_ibu.png') }}" alt=""/>
	</a>

	<input class="app_navigation_toggle" type="checkbox" id="menu_btn"/>
	<label class="app_navigation_toggle_icon" for="menu_btn">
		<span class="navicon"></span>
	</label>

	<nav class="app_navigation">
		<ul>
			{% if app.user %}
				{% if app.user.athlete  %}
					{% set i = 1 %}
					<li>
						<img class="app_image thumbnail2" src="{{ asset('assets/styles/' ~ app.user.athlete.country.flag) }}" alt=""/>
					</li>
					<li>
						<a href="{{ path('app_athlete_profil', {'id': app.user.athlete.id }) }}" title="Perso">
							{{ app.user.athlete.firstname | trans | capitalize }}
							{{ app.user.athlete.lastname | trans | upper }}
						</a>
					</li>
				{% else %}
					<li>
						<a href="{{ path('app_athlete_choose') }}" title="Perso">
							{{ 'challenger' | trans | capitalize }}
						</a>
					</li>
				{% endif %}
			</li>


			{% if app.user.athlete > "" %}
				<li>
					<a href="{{ path('app_training') }}" title="Entrainement">
						{{ 'entraîne-toi' | trans | capitalize }}
					</a>
				</li>
				<li>
					<a href="{{ path('app_classement', {action : 'General' }) }}" title="Classement">
						{{ 'classement' | trans | capitalize }}
					</a>
				</li>
				<li>
					<a href="{{ path('app_calendar') }}" title="Calendrier">
						{{ 'calendrier' | trans | capitalize }}
					</a>
				</li>
			{% endif %}

				<li>
					<a href="#" title="#">
						{{ app.user.purse | number_format(0, '', ' ') }}
						{{ '€' | trans | capitalize }}
					</a>
				</li>
			<li>
				<a href="#" {% if 'user' in app.request.get('_route') %} class="active" {% endif %}>{{ app.user.email is not null ? app.user.email : app.user.fullname }}</a>

				<ul class="app_navigation_dropdown">
					<li>
						<a href="{{ path('app_logout') }}" title="logout">
							{{ 'Déconnexion' | trans | capitalize }}
						</a>
					</li>
				</ul>
			</li>
		{% else %}
			<li>
				<a href="{{ path('app_login') }}" title="{{ 'login' | trans | capitalize }}">
					Connexion
				</a>
			</li>
		{% endif %}
	</ul>
</nav></header>
